[2016-03-23 19:39] kteza1 opened #1 "ping request not invoked in time"
_If keep alive is enabled ( > 0) The client should ensure that at least one message travels across the network within each keep alive period_

_If the client doesn’t send any messages during the period of the keep alive it must send a PINGREQ _packet to the broker to confirm its availability and also make sure the broker is still available.

_The broker must disconnect a client, which doesn’t send

[2016-06-22 18:19] kteza1 opened #2 "duplicate publish every time"

[2016-07-05 22:07] #2 closed

[2016-07-07 02:27] #1 closed

[2016-07-07 13:05] tekjar opened #4 "create a subscriber queue"
This queue is necessary for resubscription when subacks are lost

[2016-07-07 13:15] kteza1 opened #5 "add arm builds to ci using rustup"

[2016-07-07 15:46] kteza1 opened #6 "Mqtt client compliance tests"
https://eclipse.org/paho/clients/testing/

[2016-07-11 14:36] tekjar opened #9 "Client ID restrictions"
- Don't allow user to set zero length client IDs
- If user selects `clean_session = false` in `MqttOptions`, don't auto generate client IDs.

[2016-07-31 02:33] #5 closed

[2016-08-29 14:10] #6 closed

[2016-08-29 14:10] kteza1 opened #13 "Test cases for queues"

[2016-08-29 14:11] kteza1 opened #14 "Test cases for offline messages"

[2016-08-29 15:44] kteza1 opened #15 "Test cases for retransmissions"

[2016-08-29 16:22] kteza1 opened #16 "Set some reconnect time by default as None isn't implemented"

[2016-08-30 06:42] kteza1 opened #17 "Add stress tests with reconnections"

[2016-08-30 06:42] kteza1 opened #18 "Weird sequencing of pkids in test cases"

[2016-08-31 18:42] kteza1 commented on #18
Those are incoming messages due to subscribe().

[2016-08-31 18:42] #18 closed

[2016-08-31 18:42] #16 closed

[2016-08-31 18:43] #13 closed

[2016-08-31 18:43] #14 closed

[2016-08-31 18:43] #15 closed

[2016-08-31 18:43] #17 closed

[2016-09-02 10:38] tekjar opened #20 "test cases to check queue sizes after stress tests"

[2016-10-03 04:56] tekjar opened #21 "Write error logs for all packet types"

[2016-10-03 04:59] tekjar opened #22 "Fix QoS 2 Pubrel"

[2016-10-11 09:00] jechase opened #24 "stream read timeout causes publish delays"
It appears that the call to `connection.stream.set_read_timeout` with the argument of 1 second is causing all publishes to only occur at the second boundary since the `write` call only happens after a `TimedOut` or a `WouldBlock` in the `receive` loop. It looks like the problem started in https://github.com/Ather-Energy/RuMqtt/commit/1fe12f46031b1c9ad7e9e02af37dd4dddcbfc152.

[2016-10-11 10:14] kteza1 commented on #24
@Pursuit92 That is an unfortunate drawback of the current design. Previously I was cloning `TcpStream` and using it at across 2 different threads (one for n/w reads coz read call is blocking). This worked well for Non TLS but once TLS came into picture, the design was wrong

https://github.com/sfackler/rust-openssl/issues/325

Good news  is that I've plans to migrate this to use tokio-core (once t

[2016-10-11 10:36] kteza1 commented on #24
Current write limit is hard coded to 1000 publishes/sec. I can add this to config but it wouldn't make any sense after migrating to tokio-core. I can finish this much faster if I get some help :)

[2016-10-12 22:41] Pursuit92 commented on #24
I'd love to help, but I'm still working on getting my head around futures for my own purposes. I'll see if I can pitch in once I'm a bit more comfortable with them :smile:

[2017-02-14 09:08] tekjar opened #30 "Remove client thread and pass every request to connection thread directly"

[2017-02-14 09:11] tekjar opened #31 "Unit tests to confirm blocking and unblocking of requests when n/w connects/disconnects"
* Add logs while the request queues are blocked

[2017-02-14 09:15] tekjar opened #32 "Allow user configurable threadpool for handling messages and start it on demand instead (created during startup now)"

[2017-02-14 09:16] tekjar opened #33 "More unit tests/functional tests with conditions similar to that of cloud-connect"

[2017-02-14 09:17] tekjar opened #34 "Test with facebook ATC and throw proper logs during low network speeds"

[2017-02-14 09:53] tekjar opened #35 "You can use same pkid for q1 & q2"

[2017-02-16 05:23] creativcoder opened #39 "_try_reconnect will timeout in ~ 70 secs, in case no ACK packet is received."
So i investigated the issue about blocking connection on a random port like `test.mosquitto.org:1234` and the blocking happens exactly in [L320](https://github.com/Ather-Energy/RuMqtt/blob/1e71f3ad17537b90debf5e1a3c48de8203c71182/src/connection.rs#L320). and eventually the connection timeouts as evident from the retransmittion packets sent as shown below. The error message in particular is `Error

[2017-02-17 11:04] #30 closed

[2017-03-23 07:11] #35 closed

[2017-04-08 21:09] vorot93 opened #51 "Publish current version on crates.io"
Crates.io version is outdated and its API does not match the documentation.

[2017-04-08 21:14] tekjar commented on #51
I'm working on v0.11 which I'm going to push by next sunday.

[2017-06-07 15:33] jamesmunns commented on #51
Hey, any progress on this? It looks like 0.5.0 is still the newest version on crates.io

[2017-06-07 18:15] tekjar commented on #51
Hi @jamesmunns  @vorot93. Sorry for the delay. I've just published v0.10 to crates.io. I'm planning to implement async version of mqtt client since the current synchronous version has few drawbacks. So please note that I'm not allocating much of my bandwidth on the current architecture. Will work on this more when rust's async story is little better (help here will be awesome)

[2017-06-07 23:01] jamesmunns commented on #51
Hey @tekjar, thanks for publishing that!

It actually is in my todo list (and a few friends of mine as well) to learn a little more about tokio. Are you planning on basing your work on tokio, or did you have something else in mind?

Where would be the best place to start? From the 0.10.0 release, the 0.11 branch, master, or somewhere else?

Also if you haven't seen docs.rs before, it might be wort

[2017-06-08 06:48] tekjar commented on #51
Awesome. May be we can join hands here.

I already did some tokio work. I would say around 70% done. But reconnections are not easy when channels are involved because they are consumed by the eventloop. We need to write our custom `Sink` which does automatic reconnections.

It's better to start an independent branch and use [this codec](https://github.com/tekjar/rumqttd/blob/master/src/codec.rs) t

[2017-08-30 09:19] bestouff commented on #51
In the meantime, would it be possible to have a working version on crates.io ? Or at least have some docs matching the API ?

[2017-10-20 11:16] jamesmunns commented on #51
Hey @tekjar, would you mind pushing a `0.10.1` release with the current state of master? It would be nice to have the recent changes published :)

[2017-10-20 12:38] tekjar commented on #51
@jamesmunns published :)

[2017-10-20 12:38] #51 closed

[2017-10-20 12:45] jamesmunns commented on #51
@tekjar thanks!

[2017-10-31 08:43] ThorburnT opened #58 "Ping logic disconnections with high volume of received messages and no sent messages"
`ERROR:rumqtt::connection: PING error PingTimeout`
Is generated when receiving high volumes of mqtt messages ( >> 10/s ) at an interval approximately equal to the timeout, and `ERROR:rumqtt::connection: At line 214 = Error in receiving packet Error { repr: Custom(Custom { kind: Other, error: StringError("unexpected EOF") }) } ` at a more unpredictable interval.

Steps to reproduce:

1. Use `rumqtt

[2017-10-31 09:52] tekjar commented on #58
@ThorburnT Thanks for the report. You are right. This might be due to broker disconnecting the client when it didn't recv PINGREQ in time

In the current design, writes are happening during read timeouts (which is not great) because of tls restrictions. If tls is enabled, reads and writes should happen on same thread.

Maintaining a different thread and sending ping messages on channel wouldn't wo

[2017-10-31 16:16] tekjar commented on #58
@ThorburnT Is this happening with qos1 incoming publishes?

[2017-10-31 17:33] ThorburnT commented on #58
@tekjar This was on QOS 0 incoming publishes. What would be the best way for me to locally fix the pinging if I don't need TLS? The Tokio v2 vs async problem is a tough one, but either one will probably work well. Also, thank you for this crate.

[2017-10-31 18:28] tekjar commented on #58
@ThorburnT Quick way would be to perform [ping logic](https://github.com/AtherEnergy/rumqtt/blob/master/src/connection.rs#L194) after every recv or use qos1. Client will send puback for every incoming qos1 publish and broker would know that client is alive

[2018-01-19 14:41] #34 closed

[2018-01-19 14:41] #33 closed

[2018-01-19 14:41] #32 closed

[2018-01-19 14:41] #21 closed

[2018-01-19 14:42] #20 closed

[2018-01-19 14:42] #4 closed

[2018-01-19 14:43] #31 closed

[2018-01-19 14:46] tekjar opened #61 "tokio2 branch's tls connection doesn't work with clean_session=false"

[2018-01-21 22:10] nanomad commented on #61
I think I found it.

I have no idea why it wasn't working as I'm not even a tokio newbie but something was going wrong in republish_unacked of connection.rs when publishes was an Vec of len 0.

[2018-01-21 22:31] glennpierce opened #65 "Example of publishing from a callback."
Hi

The title says it all really. Is there a way I can publish from a callback. How could I pass the request object ?

Thanks

[2018-01-22 09:56] tekjar commented on #61
Ok I think there is no problem with this. I was testing this with aws iot and it doesn't seem to support persistent sessions (and I don't know how to check the reason for disconnection on aws). Tls is working for me locally.

@nanomad I think this is a different issue. I'll verify this.

[2018-01-22 11:10] nanomad commented on #61
@tekjar You can use the free plan on [CloudMQTT](https://www.cloudmqtt.com/) to test it.

I've configured it using the following as the CA cert bundle:

`"C:\OpenSSL-Win64\certs\cacert.pem"`

[2018-01-23 21:26] nanomad commented on #65
Assuming I understood the question correctly. I found the tokio2 branch much nicer to work with API-wise

Here's a simple PING-PONG example
https://gist.github.com/nanomad/1b1b9fca57b37737949fd5e1a9d3c6aa

Note that I'm publishing the reply messages in a different thread as it's a bad idea to delay the MQTT messages dequeuing (the `for m in rx` loop)

[2018-01-23 23:28] glennpierce commented on #65
Thanks. I didn't know about the Tokio2 branch. I will look at your example.
Basically all I want todo is to subscribe to electrical current readings from a number of energy monitors I have. On each new current reading I want to publish the power and energy.

[2018-01-24 07:26] nanomad commented on #65
Yeah that's basically my use case as well. You can even remove the outer thread from my example as it is pointless for something very basic (it was a quick adaptation from my code)

[2018-01-24 12:15] tekjar commented on #61
@nanomad

This is happening because `Framed` is not able to continue after handling [bounded streams](https://github.com/AtherEnergy/rumqtt/blob/tokio2/src/client/connection.rs#L189)

[2018-01-24 15:56] nanomad commented on #61
Ah, makes sense. I'll work on it a little bit. It's a good way of learning about tokio2 anyway

[2018-01-24 18:08] nanomad commented on #61
So, after looking at https://github.com/alexcrichton/futures-rs/issues/462 it seems like both future's join as well as sink's send_all flush and close the sink at the end which is no bueno.

I suppose the solution is to iterate over the packets sending them one by one. I'll see what I can come up...

[2018-01-24 22:04] nanomad commented on #61
@tekjar
Should be fixed in #67
Took me way too much than I care to admit to figure out how to write the loop properly

[2018-01-25 06:58] nanomad opened #68 "tokio2: Missing features"
@tekjar I'd like to keep track of what is missing in the tokio2 branch in order to declare that as a "functioning" MQTT client

- [ ] Periodic republishing of unacked QoS 1 publishes
- [ ] Proper handling of QoS 2 publishes (Issue #22)
- [ ] Disk persistence of QoS 1 and 2 publishes
- [ ] Resub after disconnect

Did I miss anything else?

[2018-01-25 07:44] tekjar commented on #68
@nanomad

AFAIK modern tcp stacks guarantees delivery for a given connection. If the congestion is more, the send buffer will be full at one point and keep alive ping will takeover to determine if the connection is alive and disconnects if not. The unacked packets will be republished in next session (for persistent sessions)

Yeah, this needs to be implemented but this wouldn't be my top priority

[2018-01-25 09:25] nanomad commented on #68
@tekjar

Good point, I suppose that with TCP transport this is a non-requirement (or at least a very low priority one). It would probably only protect against mis-behaving brokers.

I wouldn't do it in Tokio, I was thinking about persisting the broker state to disk (or part of it) and re-using that if clean_connection = false. I suppose it could an opt-in feature.

This is more like the first poin

[2018-01-30 19:44] bitdivision opened #70 "Websockets Support?"
Is there any plan for supporting MQTT over websockets in the future?

[2018-01-31 06:59] tekjar commented on #70
@bitdivision No plan yet

[2018-01-31 23:36] bitdivision commented on #70
Would you be open to accepting a pull request for it?

I'm assuming that most of the effort at the moment is focused on async? If so should I be implementing this against one of those branches.

Any suggestions as to how to go about this?

[2018-02-01 06:53] tekjar commented on #70
@bitdivision Ofcourse. PRs are always welcome. All the work is happening on tokio2 branch. Please work on top of that.

[2018-02-01 11:29] ivanovaleksey opened #71 "Handle messages asynchronously"
Hello,
thank you for the great library!

I am looking for Rust MQTT library for my application.
I want it to be able to handle incoming messages asynchronously because there will be DB interaction and other blocking things.

I added `thread::sleep` within `on_message` callback.
Message handling had been queued: one message was handling (i.e. waiting on `sleep`) and new incoming message was queued

[2018-02-01 14:31] tekjar commented on #71
@ivanovaleksey tokio2 branch is still in works (maybe it'll be ready in the next 10 days)  but it's very ergonomic with handling incoming messages. you get all the incoming messages in a channel and you can handle it in a way that fits your needs. But it's your responsibility to pull the messages out of the channel at a rate greater than incoming messages or else the packets will be dropped.

[2018-02-01 14:41] ivanovaleksey commented on #71
Thank you for the reply @tekjar.
How do I know this rate to avoid dropping messages? Is there any way to ensure that every message will be handled and nothing will be dropped.
Does dropping messages occurs on _master_ branch? As I understand _tokio2_ will be merged into the _master_, so dropping will be on _master_ anyway?

[2018-02-01 14:57] tekjar commented on #71
@ivanovaleksey master branch uses threadpool to execute callbacks. I've not tested master enough with incoming messages to understand how threadpool behaves during high loads. If threadpool uses a unbuffered channel, the memory will just keep going up if the callbacks are heavy/blocking. One way to ensure that you don't drop messages in tokio2 is to not do heavy processing in the thread that recei

[2018-02-01 15:07] ivanovaleksey commented on #71
Yes, [there is a threadpool](https://github.com/AtherEnergy/rumqtt/blob/master/src/connection.rs#L127) on _master_ branch but it has capacity of `1`, so it look like sequential message handling.

Yes, that was my initial idea too. It doesn't have any impact on `PUBACK` since `PUBACK` is sent before calling user's callback, does it? The same is true for _tokio2_ too?

[2018-02-01 15:10] tekjar commented on #71
Yeah puback should be sent before handling the message, or else (most) brokers will keep resending the message if your callback is heavy

[2018-02-01 15:14] ivanovaleksey commented on #71
Thanks once again @tekjar.
I am closing the issue and will try to use the library.

[2018-02-01 15:14] #71 closed

[2018-02-01 15:16] tekjar commented on #71
The reason behind choosing a channel instead of callback is to give users the flexibility. These 'Receiver's are crossbeam-channels receivers which are very flexible. You can use these receivers in multiple threads to load balance or use a threadpool for other use cases.

Think about this, may be I should provide a way to configure the size of the channel (or) use unbounded channels

[2018-02-02 06:43] #61 closed

[2018-02-02 06:44] #22 closed

[2018-02-02 06:45] tekjar commented on #24
Should be fixed in tokio2 branch

[2018-02-02 06:45] #24 closed

[2018-02-02 06:45] tekjar commented on #58
This should be fixed in tokio2 branch

[2018-02-02 06:45] #58 closed

[2018-02-02 06:46] tekjar commented on #39
Should be fixed in tokio2 branch

[2018-02-02 06:46] #39 closed

[2018-02-02 06:47] tekjar commented on #65
Thanks @nanomad for explaining this.

[2018-02-02 06:47] #65 closed

[2018-02-02 06:55] tekjar opened #72 "New async release"
@jamesmunns  @rschifflin @ivanovaleksey @nanomad @creativcoder @vorot93

I'm kinda happy with the status of  [async branch](https://github.com/AtherEnergy/rumqtt/tree/tokio2)  and planning to release it in the next 10 days. However qos2 and retained publishes aren't  supported yet. I would like to know if anyone of you are using these features and also would like some help in reviewing and testing

[2018-02-02 11:28] ivanovaleksey commented on #72
Hi @tekjar,
Thank you for the job!

I would like to help to get things done. However, I am very new to MQTT and Tokio, so, I am not useful at reviewing. But I can do something else, maybe testing (if you can help with good test scenarios).

I don't think I need to publish retain messages right now, but it might be nice to have in future.
Is it hard to implement? As far as I understand the most dif

[2018-02-02 13:06] tekjar commented on #72
I'm using toxiproxy to simulate network conditions. May be you can do that with your application data?

No. It's easy :)

I din't completely understand this question, but you'll get a `Publish` packet with payload as array of bytes, You need to deserialize it.

Yeah. They should work

[2018-02-03 01:08] dbrgn opened #73 "Reactor Stopped"
I'm trying the new `tokio2` branch with a simple subscriber.

I'm trying to subscribe to two topics:

[code]

When I start the client:

[code]

Why is the reactor stopped?

And why is the thread not terminated (= the packet receiver closed) if the reactor is stopped?

(Sorry if this is a stupid question, I'm not too familiar with MQTT 🙂)

[2018-02-03 05:11] tekjar commented on #73
Definitely not a stupid question. You have discovered a bug. The client is sending wrong suback 2nd time. Mosquitto seems to be lenient with this. Which broker are you using?

I've pushed a fix. Can you test now?

[2018-02-03 17:22] dbrgn commented on #73
I don't know, I'm communicating with [TTN](https://www.thethingsnetwork.org/) servers :)

Will try, hopefully tonight.

[2018-02-03 19:38] dbrgn commented on #73
The double suback seems fixed, but I still lose connection...

[code]

Can I debug something about this without access to server logs?

[2018-02-04 04:06] tekjar commented on #73
@dbrgn Broker is disconnecting the client for some reason. It's difficult to debug this with out logs. One way to cross check is to connect using some other mqtt client and see if it works.

[2018-02-04 11:00] dbrgn commented on #73
It seems to work with `paho-mqtt` (python). There I'm connecting via TLS though. Maybe that's the issue? (I would have expected that subscriptions wouldn't even be acked if TLS is required by the server.)

So, how would I set up TLS? This is all I can find in the docs:

![screenshot](https://tmp.dbrgn.ch/screenshots/20180204115827-byh3jdg6.png)

The code has a comment saying "ca and, optionally, a

[2018-02-04 11:32] tekjar commented on #73
@dbrgn Can you paste you `MqttOptions` here

[2018-02-04 12:07] dbrgn commented on #73
Sure!

[code]

Even if commenting out the subscription and everything except the basic auth:

[code]

...it still fails.

This is not about the authentication though, if I change the basic auth password to "foo", connecting fails:

[code]

I tried TLS:

[code]

...where `mqtt-ca.pem` is [this file](https://tmp.dbrgn.ch/mqtt-ca.pem) in the current directory. (This is also used successfully for the

[2018-02-04 12:20] tekjar commented on #73
@dbrgn If you are sure that the username and password that you are reading from config is right, this should've worked. I'll check if basic username password auth works with mosquitto broker

[2018-02-04 12:37] dbrgn commented on #73
Here's a network trace:

![screenshot](https://tmp.dbrgn.ch/screenshots/20180204133638-dzm5k30u.png)

The TCP connection is closed after 3 seconds by the server. I guess this is probably something on the server side.

[2018-02-04 13:19] dbrgn commented on #73
Could the protocol name difference be relevant?

![comparison](https://user-images.githubusercontent.com/105168/35777910-6640d2f0-09b6-11e8-86dc-cb82168adc38.png)

[2018-02-04 13:23] tekjar commented on #73
@dbrgn Ahhh yeahh..This library only supports the latest mqtt 3.1.1

[2018-02-04 13:38] dbrgn commented on #73
@tekjar can we do something about it to add support for older versions? and if not, is there a way to show a better error message?

[2018-02-04 15:10] tekjar commented on #73
@dbrgn

I'm not very keen about this. Most of the brokers support latest version.

Client can't do much as it is the one initiating the connection. Broker should send connack with proper error return code. I'll add a debug print and see the return code in connack

[2018-02-04 15:18] dbrgn commented on #73
Ah, I wasn't aware that it's *that* long. I'll ask the backend folks about it :)

[2018-02-04 21:15] dbrgn commented on #73
The awesome @htdvisser pointed out to me that only one MQTT client with the same ID is allowed to be connected to the server at the same time, and I used a static client ID (`"smartmail"`). I had another version of the code (based on the non-async branch) running on the server. I assume that the local connection caused the server to drop my other instance, which then automatically reconnected, res

[2018-02-04 22:33] dbrgn opened #74 "TLS support"
Hi, here are some ideas worth considering before the async release (#72) 🙂

From the code it looks like you're currently using the openssl crate directly to implement TLS support.

My suggestion would be to switch to [native-tls](https://github.com/sfackler/rust-native-tls) if possible. It uses the native TLS stack on every platform, so it's easy to compile rumqtt based programs on Windows, mac OS

[2018-02-04 23:14] dbrgn opened #76 "tokio2: Disconnect after 1 minute"
I'm experiencing a disconnect from the server after a bit more than 1 minute.

Here's a wireshark trace:

![screenshot](https://tmp.dbrgn.ch/screenshots/20180205000936-311ecl6p.png)

(If required I can also send more details or a pcap file)

The ping messages are sent at t = 25, 35 (+10), 50 (+15), 60 (+10), 75 (+15). First of all, it seems a bit strange that the intervals are not consistent. Then

[2018-02-05 02:11] tekjar commented on #73
@dbrgn

Ahh yeah, broker should do this to recover from halfopen connections. Would've been easier if you had access to broker logs (:

[2018-02-05 02:11] #73 closed

[2018-02-05 02:22] tekjar commented on #76
@dbrgn What is your keep alive time?. Can you send rumqtt debug logs

[2018-02-05 08:00] dbrgn commented on #76
Keep alive time is currently `10`. (I'll probably increase that, it was mostly for testing.)

[code]

And here's the log:

[code]

(Btw, now I understand why the interval is not consistent - you're polling at 5s intervals :) That's probably fine though.)

[2018-02-05 08:58] tekjar commented on #76
https://github.com/AtherEnergy/rumqtt/blob/tokio2/src/client/connection.rs#L181

Yeah, Interval to check if ping is required should be less than half the keepalive time to make sure that broker gets pingreq in 1.5 * keepalive time. I think this is right on the edge. Maybe I'll check at keepalive/3.

Also I'm thinking not to allow keepalive less than 10 secs. But need some consensus on this

[2018-02-05 09:00] tekjar commented on #76
I've tested with keep_alive = 30 and it works well :)

[2018-02-05 09:00] dbrgn commented on #76
When setting the keepalive to 60, I don't get those disconnects anymore.

Regarding the intervals, since you use tokio, can't you use something like https://github.com/tokio-rs/tokio-timer to schedule the next ping message, instead of checking every 5s?

[2018-02-05 09:11] tekjar commented on #76
@dbrgn I'm using reactor's `Interval` to do this which is almost same as tokio-timer. It's just that the next `is_ping_required` check most of the times end up crossing the keepalive boundary and we need to optimize the interval time in such a way that you don't cross 1.5 times keepalive time that the broker expects.

In your case, when `keep_alive = 60`, we do `is_ping_required` every 10 seconds.

[2018-02-05 09:13] tekjar commented on #76
@dbrgn I'm using reactor's `Interval` to do this which is almost same as tokio-timer. It's just that the next `is_ping_required` check most of the times end up crossing the keepalive boundary and we need to optimize the interval time in such a way that you don't cross 1.5 times keepalive time that the broker expects.

In your case, when `keep_alive = 60`, we do `is_ping_required` every 10 seconds.

[2018-02-05 09:13] dbrgn commented on #76
Ah, I wasn't aware that the broker has certain keepalive expectations. I looked at the spec yesterday, but in the area where the ping messages are specified there is no mention of that 🙂

Can't you just do an interval with the exact keepalive duration, and use `.and_then` to trigger the ping directly?

[2018-02-05 09:21] tekjar commented on #76
@dbgrn Maybe we can use [this](https://github.com/sfackler/tokio-io-timeout) to timeout when there is no activity

[2018-02-05 09:36] dbrgn commented on #76
Hm, isn't that to do asynchronous write/read operations with a timeout (must complete within a certain duration)? Would that help in this case?

[2018-02-05 12:53] tekjar commented on #76
@dbrgn I think we can use `Timeout` error to do pings

[2018-02-05 13:01] dbrgn commented on #76
Yeah, but even if you wrap a timeout around it, the reactor tries to complete the future as soon as possible, right? The timeout is only relevant if the future is blocking longer than the specified duration.

[2018-02-06 19:02] bitdivision commented on #70
@tekjar - I tried to get in touch with you on gitter, but I don't think you saw it.

I'm attempting to integrate https://github.com/snapview/tokio-tungstenite to provide websockets support and falling at the first hurdle. Perhaps @agalakhov could help with this too.

What I'd like to do is add [WebSocketStream](https://docs.rs/tokio-tungstenite/0.5.0/tokio_tungstenite/struct.WebSocketStream.html)

[2018-02-07 05:57] tekjar commented on #70
@bitdivision My knowledge is almost close to zero w.r.t websockets. But [connect_async](https://docs.rs/tokio-tungstenite/0.5.0/tokio_tungstenite/fn.connect_async.html) seems to be a wrapper over tokio tcpstream. I'm not sure of the reason why asyncread isn't available. I'd like to learn more about websockets and try this out but I'll be busy this month. Maybe you can fork this out and try without

[2018-02-07 17:41] bitdivision commented on #70
@tekjar - Yeah, I'm going to try some different libraries and see if there's a more appropriate interface available, but if not, I'll try to get a proof of concept together by hacking all your code apart.

[2018-02-10 10:04] ivanovaleksey commented on #71
Hello @tekjar, again I have a question about async handling.
I forgot to mention (and now I am afraid it is a big problem) that I need not only to receive messages but also to respond on them.

Suppose I have thread pool with a size of 3.
On receiving a new message I just push it to the pool to archive async handling.
But then each handle, i.e. each one of 3 threads, needs to respond back.
[`MqttC

[2018-02-10 10:55] tekjar commented on #71
@ivanovaleksey If you are using tokio2 branch, you'll be able to clone `MqttClient`  (not yet implemented). Can you open a separate issue for this?

[2018-02-10 15:39] ivanovaleksey commented on #71
Thanks @tekjar, I currently use `0.10.1` version.
I am very new to Tokio and I decided to start with "plain" version and then switch to Tokio-based.
So, publishing from multiple threads without locking is not possible in `0.10.1` and would be implemented on tokio2 after a while, right?

[2018-02-12 02:43] javaandme opened #77 "in my machine, is only a little issue,"
thread '<unnamed>' panicked at 'cannot access stderr during shutdown', /checkout/src/libcore/option.rs:891:4

then, the server is disconnect this client, ??

[2018-02-14 01:42] javaandme commented on #77
have resolved.

[2018-02-14 01:42] #77 closed

[2018-03-12 21:33] gabisurita opened #80 "Docs are outdated"
The example on the docs does not match the latest api.

[2018-03-13 08:36] ivanovaleksey commented on #72
Hello @tekjar, sorry I totally have no time all this period.
How is it going? Are there any updates?

[2018-03-14 11:12] ivanovaleksey opened #81 "Impl Clone for MqttClient"
As discussed in https://github.com/AtherEnergy/rumqtt/issues/71#issuecomment-364643192 `MqttClient` is planned to implement `Clone` trait.

Let's tracks this feature development here.

[2018-03-15 14:39] bestouff opened #82 "callbacks for state change"
Hi,

Would it be possible to have callbacks for state changes (connection lost, connection OK) ?

[2018-03-15 14:56] bestouff commented on #82
Here's the problem I have to solve: I have a "last will" which sets a topic to a particular value on disconnection. That topic is reset at client start. However with automatic reconnection, the topic is set to the "last will" value and the client never has a chance to reset it back because it never knows a deconnection/reconnection happened.

[2018-03-15 15:18] tekjar commented on #82
@bestouff In tokio2 branch, I'm using channel to pass incoming messages and acks to the user. But I think it won't solve your problem as connection options can't change. I can add callbacks on disconnect/reconnect but the design won't be uniform anymore (callbacks for disconnects and channels for other events). I'll see if I can find some solution for this

[2018-03-15 15:20] tekjar commented on #80
Yeah. I'll wait for some time as tokio is moving too fast.

[2018-03-15 15:22] tekjar commented on #72
Hi @ivanovaleksey . I'm thinking to wait a bit on this as tokio is moving very fast and a lot of work is going on async/await. By the time I finished this, `tokio` 0.1 got released :)

[2018-03-15 16:38] ivanovaleksey commented on #72
_async/await_ branch seems to be stale.
What is this branch about? Is it an alternative to _tokio2_?

[2018-03-15 16:57] tekjar commented on #72
@ivanovaleksey I'm talking about rust `futures-await` and `tokio` 0.1

[2018-03-17 13:14] bestouff commented on #82
I'm not looking for callbacks per se, a regular message though channels would be good also. Just a mean for my "business logic" to know it's been reconnected and it has to cancel its last will.

[2018-03-17 15:22] tekjar commented on #82
@bestouff Ok. I'll add disconnect events to the queue. But tokio is moving alot. I think 0.2 is planned soon

[2018-03-19 21:44] ivanovaleksey opened #83 "Unsubscribe message"
Hello, I would like to have dynamic subscriptions.

On certain action subscription should be created, it is done by `MqttClient::subscribe`.
And on another action this subscription should be deleted (as I understand MQTT has `UNSUBSCRIBE` message for that).

And I just realized that I can't see any method for unsubscribing.

Is there any solution for this?

Thanks.

[2018-04-10 07:46] dbrgn opened #85 "Re-subscribe after reconnect"
I've experienced the situation a few times now that the connection would reconnect, but no messages would be received afterwards.

(reverse log)

[code]

Afterwards, ping messages are sent and received, but no messages from the server arrive. This would suggest that the subscriptions are not re-established.

[2018-04-10 15:17] tekjar commented on #85
@dbrgn Yeah. Resubscribe is not implemented for clean sessions. I'll add that feature when I start working on rumqtt again.

[2018-04-10 15:19] dbrgn commented on #85
Cool! Is there a workaround I can implement in the meantime?

(I guess I'll just restart the service every 15 min :slightly_smiling_face:)

By the way, that's probably an important limitation that should be mentioned in the README.

[2018-04-10 16:45] tekjar commented on #85
How about using `clean_session=false`?

[2018-04-11 07:48] dbrgn commented on #85
Ah, I didn't realize that this was a configurable option. Thanks!

[2018-04-16 19:46] manifest commented on #72
Hi @tekjar. Are there any updates?

[2018-04-17 06:46] tekjar commented on #72
Hi @manifest. I desperately want to take this up and push it to finish line :). But I think tokio and futures-rs are being prepared for another release. I'll hold :)

[2018-04-20 09:09] bestouff commented on #82
Just for clearing my doubts: which is the branch to use ?

[2018-04-20 09:45] tekjar commented on #82
All new development is happening on `tokio2` branch

[2018-04-20 10:12] bestouff commented on #82
Ah thanks. Will you soon merge and publish on crates.io ?

[2018-05-16 15:49] aep commented on #80
docs.rs does all the hard work for you. should probably just link there. https://docs.rs/rumqtt/0.10.1/rumqtt/

[2018-05-16 16:56] tekjar commented on #80
I'll clean up everything when async/await is out in nightly :)

[2018-06-01 17:56] hmvp commented on #85
I am not sure if this feature request is actually wanted. I would say that documenting this behavior and giving a way to detect reconnects should be enough. If it would be implemented it should be configurable.

This also because it gives a false sense of security: When using clean session the subscribe will always take some time. Any message that is received by the broker in between the disconnec

[2018-07-02 21:08] gabisurita opened #88 "Panic with large keep-alive"
Keep alives larger than 327 will lead to a multiply overflow. I think the problem is a missing cast before `* 1000` on the following line:

https://github.com/AtherEnergy/rumqtt/blob/857404403f3f4494c4636b041c878b7d85cff083/src/connection.rs#L688

Here is the traceback:

[code]

[2018-07-03 09:33] #88 closed

[2018-07-17 14:51] stevedonovan opened #90 "Publishing taking a long time?"
I'm accustomed to publishing taking a few millis on a local broker, but this simple code needs 1000ms:

[code]
Anything less than 1000ms, just doesn't publish. And not getting the expected acknowlegment
from `on_publish`

[2018-07-19 10:19] denizs opened #91 "Update password while being connected"
Hey there!
Is there any way to update client credentials whilst staying connected?
If not, what's the way to go here? Call `disconnect` on the client, call `set_password` on client options and start a new client with the updated options?
Best,
D

[2018-07-19 16:34] tekjar commented on #91
The current design doesn't allow this as the connect options are passed to network thread during the initial run. I'm implementing a new design with tokio (which is private now). I'll keep this feature in mind.

[2018-07-19 16:36] tekjar commented on #90
Hi. The writes and reads context switch every second as its not possible to create a TlsConnection that can be used across multiple threads (one for reading network and other for writing). Tokio implementation doesn't have this problem though. I'm working on a new design which doesn't have this issue

[2018-07-20 18:03] tekjar commented on #90
Maybe if user takes the responsibility reconnections and ack handling, pinging etc. Won't be a seamless experience in my view

[2018-07-21 07:54] stevedonovan commented on #90
Which would be a retreat from the idea of having a high-level client, so that doesn't sound good.

[2018-10-17 14:33] tomasol opened #94 "Puback iscalled too soon on incoming publish message"
With QoS 1 I expect that when my app crashes while processing incoming message, after my app starts again I will receive the message again. At least that's how I understand "at least once" delivery.
After my testing I looked at the code: [connection.rs#L546](https://github.com/AtherEnergy/rumqtt/blob/08c2e892b575c0519edcfaf317e596064b10819c/src/connection.rs#L546) and realized this is not the case

[2018-10-17 15:59] tekjar commented on #94
@tomasol When Mqtt protocol says At least once, that doesn't mean mqtt broker has to hold the message until client is done processing the message. I just means that broker has to hold the message until client receives the message. This helps the client to be robust in bad networks. At least that's what I understood.

I feel there is a reason why mqtt is this way

* What if your code always panics

[2018-10-17 16:02] tekjar commented on #94
Maybe it's debatable why not but it'll be a different protocol. Spec clearly says `message arrives at the receiver`

http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718101

[2018-10-18 08:07] tomasol commented on #94
Thanks for response.

There is already a window of opportunity for that, e.g. if processing incoming pub packet fails (I mean in any library, not yours in particular). QoS cannot protect you from bugs, so I think that is out of scope.

It should however protect from losing messages due to power/network outage. If the outage happens before puback is sent & received, broker just resends the message.

[2018-10-18 15:41] tomasol commented on #94
Thank you for your response. We can probably agree that the spec leaves some room for interpretation, ultimately it is the application's responsibility to decide what's the correct behavior for its use case.

It's hard to say what percentage of apps tolerate data loss, I just think it would be nice to have the ability to decide when the ack should be sent. Some libraries support persistence, some

[2018-10-18 17:15] tekjar commented on #94
@tomasol Agreed. I'll leave this issue open and try to cater this in the new design. Maybe not immediately but eventually I'll add the support to send acks after handling

[2018-10-24 13:35] tomasol opened #95 "Network Thread Stopped after several broker restarts"
I have automatic reconnection set, but after randmly restarting mqtt broker I have seen:
[code]
I've modified start function in client.rs:
[code]
and the result is `Err(InvalidPacket)`. With the workaround the client will not die and continues to reconnect. Not sure where that comes from.

[2018-10-24 13:42] tomasol commented on #95
Note that I am running a slightly modified version of your lib: https://github.com/tomasol/rumqtt/tree/12c5ba661571115c5cdc7bb2590f2411893ea394 , but changes were only made for sending puback after on_message callback ( #94 ).
Another note: I would suggest adding reconnect strategy even if `MqttClient::start` fails to connect first time.

[2018-10-30 04:18] tekjar commented on #95
Thanks for the report @tomasol. Unfortunately I don't have the bandwidth to verify/fix this. I just pushed a work in progress v3 branch. Can you give a shot to that?

[2018-10-31 09:21] tekjar commented on #74
v3 uses rustls by default. Please reopen this if it doesn't

[2018-10-31 09:21] #74 closed

[2018-10-31 09:22] #9 closed

[2018-10-31 09:36] tekjar opened #96 "eventloop `run()` should detect first connection failures"
When user callls [run()](https://github.com/AtherEnergy/rumqtt/blob/v3/src/client/connection.rs#L35)  method, the call should fail if the (initial) connection fails.

* `run` should return a `Result`
* create a oneshot channel and propagate errors in initial connect

[2018-10-31 09:43] tekjar opened #97 "Detect server disconnections immediately"
`select`ing on 2 streams will continue after the first stream ends. In our case, our network stream will end when the socket is cleanly closed by the server but the channel stream will continue. Replace [select](https://github.com/AtherEnergy/rumqtt/blob/v3/src/client/connection.rs#L167) with a custom stream which throws error when network stream ends

[2018-10-31 09:55] tekjar opened #98 "Detect duplicates in incoming qos2 messages"
vecdeque is not appropriate [here](https://github.com/AtherEnergy/rumqtt/blob/v3/src/client/mqttstate.rs#L34). Duplicate messages will last forever. Use hashmap or hashset instead

[2018-10-31 10:49] tekjar opened #99 "Disconnection while handling last session data shouldn't cause data loss"
[handle_reconnection](https://github.com/AtherEnergy/rumqtt/blob/v3/src/client/mqttstate.rs#L34) right now removes stuff from queues. Network errors while sending this data might cause data loss. Put this data into a channel and handle that channel's data before handling data from user's channel

[2018-10-31 10:57] tekjar opened #100 "Handle commands on high priority"
Sometime we want eventloop to handle some special requests. E.g for ather's use case, we want the eventloop to pause sending data until the resume command. Handling this through user channel will be too late. Add a new channel tx to [`MqttClient`](https://github.com/AtherEnergy/rumqtt/blob/v3/src/client/mod.rs#L41) for special requests

[2018-10-31 11:04] tekjar opened #101 "Disable auto acks"
#94

Sometimes users might want to send acks **after** handling incoming publishes. Add compile time feature to disable auto acks and provide method to send ack

[2018-11-01 12:35] tekjar commented on #96
Implemented with #102

[2018-11-01 12:35] #96 closed

[2018-11-07 16:35] vincentdephily opened #103 "Getting a `MqttClient` struct before server is reachable."
As far as I could tell, the only way to get a `MqttClient` struct is its `start()` method, but it fails if the server is not accessible.

This seems reasonable at first blush except it's inconsistent with the fact that `rumqtt` handles reconnection itself and can apparently stack pending `publish()` until connection succeeded. Mobile devices often have a flaky connection; rumqtt should handle conn

[2018-11-07 19:18] tekjar commented on #103
Can I know which version you are using? master or v3? v3 has reconnection options to always retry. But it's still in development.

[2018-11-08 12:09] tekjar commented on #97
Implemented in #104

[2018-11-08 12:09] #97 closed

[2018-11-08 15:40] vincentdephily commented on #103
I'm using master, though I saw that a lot of work is happening in v3. Should I be trying v3 instead ? I'm still in the initial stage of mqtt support, I haven't settled on a particular lib yet, I might even go for a codec-only lib and handle the network myself (using actix).

Master does reconnect at runtime and eventually honors the `publish()` that was failing while the server was down. It's the

[2018-11-08 15:51] tekjar commented on #103
v3 is around 90% complete. Few more bugs to squash. It would also help me understand people's usecases. I would suggest you to please try v3 and give me a sample code of what's not working/ergonomic for you

[2018-11-09 15:29] vincentdephily commented on #103
I've switched to the `v3` branch.

I was going to say that my issue was still there, but I eventually figured out that I needed to `set_reconnect_opts(ReconnectOptions::Always(_))`. Maybe the `start()` function could document that ?

Also, I wonder if some connection errors could be identified as permanent errors (like "host not found" as opposed to "connection timeout") and considered fatal anywa

[2018-11-09 15:54] vincentdephily opened #105 "[v3] Update and/or reimport crossbeam_channel crate"
While switching to `v3` branch I was pleased to see that callbacks had been replaced by a `Receiver<Notification>`, but quickly ran into compilation problems: either I tried to `use crossbeam_channel::Receiver` and the compiler would complain that it expected `crossbeam_channel::channel::Receiver`, or I tried to `use crossbeam_channel::channel::Receiver` and the compiler would complain that the `c

[2018-11-09 16:07] vincentdephily commented on #82
So... Should we be tracking `tokio2` or `v3` branch at this stage ?

I also would like to know about network status. My usecase is that when network is down, I'd rather wait and optimize/trim my payload internally rather than give it immediately to `rumqtt` and waste resources if the network is down for a while.

In the `v3` branch, looks like a nice place to expose this would be in the `Notificat

[2018-11-09 16:12] tekjar commented on #103
I'll document these. Eventually :). Priority is to fix [these](https://github.com/AtherEnergy/rumqtt/milestone/2) issues to release v3.

Yeah. We can revisit these once the core is stabilised

[2018-11-09 18:50] bestouff commented on #82
Just issuing QoS0 isn't sufficient ?

[2018-11-12 15:56] vincentdephily commented on #82
QoS is orthogonal to my need. Each MQTT packet contains multiple datapoints. The QoS of one MQTT packet is the max QoS of the datapoints in it (often QoS2). My datapoints also have individual deadlines (beyond which they are no longer useful), which MQTT's QoS level cannot describe. If the network is down, it's an opportunity to do more optimisations and trims on my data before I send it.

[2018-11-15 06:50] theronic opened #106 "Docs are down"
Hi, would love to use this - but all links to docs are dead?

[2018-11-15 08:05] tekjar commented on #106
Hi. v3 branch is in active development. Will try to fix docs as soon as that is released

[2018-11-15 15:35] tekjar commented on #105
Upgraded. Will reexport once crossbeam's `select!` is tested

[2018-11-16 13:50] tekjar commented on #68
Disk persistence and Periodic republishes are kind of non goals for this crate at the moment. For Ather's use case, we created a persistence layer before rumqtt.  I'm closing this for now. Please reopen individual issues for remaining stuff

[2018-11-16 13:50] #68 closed

[2018-11-16 13:53] tekjar commented on #76
Hi. Can you please test this with master branch and report back if it's still happening? Closing this for now

[2018-11-16 13:53] #76 closed

[2018-11-16 13:57] tekjar commented on #85
@dbrgn I kinda agree with @hmvp here. Automatic resubscription during reconnections might create confusion when people want their subscriptions to be reset during reconnections. User resubscribing manually when he receives `Disconnect` notification might be a better idea here

[2018-11-16 14:00] tekjar commented on #95
Please reopen this if you are facing issues with the new master branch

[2018-11-16 14:00] #95 closed

[2018-11-16 14:01] tekjar commented on #100
Implemented in #109

[2018-11-16 14:01] #100 closed

[2018-11-16 14:04] tekjar commented on #106
Duplicate of #80

[2018-11-16 14:04] #106 closed

[2018-11-16 14:13] tekjar commented on #103
Yeah. This might be a diminished return for the effort and increase learning curve for users to understand the cases where rumqtt won't reconnect (even with AlwayReconnect options).

[2018-11-16 14:13] #103 closed

[2018-11-21 16:24] igor-petrovic-work opened #111 "tokio-tls should be optional when features=rustls"
"tokio-tls" should be optional when features="rustls"
same as is already done for "native-tls"

note, i checked out last version today 5 minutes ago from master branch

[2018-11-23 18:10] #111 closed, assigned to nobody

[2018-12-05 12:08] rnestler opened #113 "Client disconnects when publishing qos0 packets from a different client"
Currently it's rather hard to find out which version on [creates.io](https://crates.io/crates/rumqtt) corresponds to which version of the source code. This makes debugging problems with released versions harder.

[2018-12-05 15:43] tekjar commented on #113
@rnestler I'll try to maintain tags from now on :). But need the current master to be reviewed thoroughly before releasing to crates

[2018-12-06 19:56] manifest opened #114 "Unable to receive messages"
I've written a simple application using **rumqtt** creating a subscription on a topic, then I used **mosquitto client** to publish a message to the same topic. The message was delivered to another mosquitto client, but I've got nothing in my application.

[code]

[code]

[code]

[2018-12-07 03:19] manifest commented on #114
@tekjar still no messages as for fa98d02f72b8806e974b1cc974ca0511023b8929.

[2018-12-07 06:03] tekjar commented on #114
@manifest Can you clean build. I copied your example and it seems to be working for me

[2018-12-07 17:20] manifest commented on #114
@tekjar I cleaned before trying to build it yesterday. Did you try sending message from mosquitto client (or any other external), since sending it from the same application seem to work (as in tests).

[2018-12-07 17:29] tekjar commented on #114
Did you do `cargo update`? Is your code hosted in github? I tried publishing with `mosquito_pub` and I'm receiving the messages after the fix

[2018-12-12 15:54] TheBestJohn commented on #113
Trying out master right now. It seems the keep_alive is never sent in the basic pubsub example and will be disconnected when time is up.

[2018-12-12 16:04] tekjar commented on #113
@TheBestJohn `pubsub1` seems to be working for me locally. Are you connecting to local broker?

[2018-12-12 16:54] tekjar commented on #113
This is an improvement over tokio2 branch. If pings are not working then it's a bug and that needs to be fixed. In this branch, we ping only when the network is idle. But if there is a disconnection, then it's a bug. Is there a way for me to reproduce your setup?

[2018-12-12 17:31] TheBestJohn commented on #113
I'm not doing anything terribly different from pubsub1 aside from setting a username and some different publish parsing. I just kinda want this guy to sub and sit around forever printing out data. I've set the keepalive low because I think Mosquitto allows you to declare your keepalive and it will hold you to that. I'm not trying to just see the 2 publishes I send, I want to loop there and wait.

[2018-12-12 19:39] TheBestJohn commented on #113
Figured out what triggers it. Try connecting to your local broker with anything else and sending a message that isn't from this lib. It should then disconnect.

[2018-12-13 13:27] TheBestJohn opened #115 "Add license for cargo"
Cargo now requires a license file to be included in the repo as well as anyone planning on using it in any capacity.

[2018-12-17 08:35] tekjar commented on #113
@TheBestJohn Can you test the master now?

@rnestler Sorry this issue got off the track. I'll change the name.

[2018-12-21 20:53] bbigras opened #120 "How to send payload with the retain flag?"
It seems there was a set_retain() in the past but not anymore.

[2018-12-22 06:39] TheBestJohn commented on #113
@tekjar Got this on my home machine and it seems to send the pings when needed. Awesome fix my friend! I'll do some more testing as soon as I can but I think this fits the bill. Thanks for taking a look at it and I'm glad I could contribute at least a little.

[2018-12-22 06:59] tekjar commented on #105
Re-export done

[2018-12-22 06:59] #105 closed

[2018-12-22 07:01] tekjar commented on #120
@bbigras Not there yet. Would you like to send a pull request which implements `retained_publish()` method? Just copy paste [this](https://github.com/AtherEnergy/rumqtt/blob/master/src/client/mod.rs#L80-L102) part with `retain` flag true and test it

[2018-12-22 07:02] tekjar commented on #113
@TheBestJohn Thanks for helping :). Keep contributing

[2018-12-22 07:02] #113 closed

[2018-12-22 08:02] TheBestJohn commented on #120
I was literally just looking at this. What do you think about adding a "retained" flag to the publish parameters?

[2018-12-22 09:18] TheBestJohn commented on #83
Unsubscribe does have an implementation in the mqtt311 lib and I have been able to get a branch sending and recieving unsubacks. I think I may have to do some more logic to let rumqtt know that i've unsubbed but it looks as if I no longer get the pubs from that channel.

[2018-12-28 14:33] tekjar commented on #115
Done

[2018-12-28 14:33] #115 closed

[2018-12-28 18:01] fooker commented on #85
Usually, libraries provide some kind of connected-callback which can be used to (re)subscribe. AFAIK currently there is no way of getting those events or am I missing something?

[2018-12-30 18:49] jonwingfield opened #125 "Crates.io"
Are you guys planning on deploying the latest version to crates.io? I'm currently just using the cargo git dependency, but would prefer crates.io. Thanks!

[2018-12-31 05:32] tekjar commented on #125
Maybe in a month

[2018-12-31 05:36] tekjar commented on #85
@fooker I'll make changes to enable disconnect and reconnect event notifications. Next week most probably

[2019-01-02 15:00] tekjar opened #126 "Reconnection error log shows ping error instead of connection error"
**cargo run --example=keepalive"**

[code]

[2019-01-08 14:55] tekjar commented on #126
Fixed in #127

[2019-01-08 14:55] #126 closed

[2019-01-13 13:12] legokichi opened #128 "ALPN support?"
for AWS IoT - https://aws.amazon.com/jp/blogs/iot/mqtt-with-tls-client-authentication-on-port-443-why-it-is-useful-and-how-it-works/
with rustls 0.15.0 - https://github.com/ctz/rustls
(but native-tls not yet https://github.com/sfackler/rust-native-tls/issues/49)

[2019-01-21 20:54] bbigras opened #130 "Packet::Disconnect is not implemented"
rumqtt 67d1bb465b34bf8ccf2a058fbcb4cbb5ff919ceb

[code]

The packet is `Packet::Disconnect`. Because I call `client.disconnect()`.

[2019-01-30 22:07] denizs opened #134 "Client reconnects after calling resume"
Hey there! I'm using v0.30.1 of rumqtt. After some testing, I found that calling `resume` actually does no behave as expected. When I call `pause` on the client, it automatically reconnects.

[2019-01-31 14:00] denizs commented on #134
@tekjar Sorrry - yeah 😁 I've verified this behaviour with the `v.0.30.1` tag. The problem is that after executing `mqtt_io`, receiving a `UserDisconnect` and setting the `is_network_enabled` flag to `false`, the reconnection loop continues and executes `connect_timeout`, which in turn reconnects the client to the server. I'm still in the phase of understsanding the logic behind it, so I think this

[2019-01-31 15:23] tekjar commented on #134
@denizs Can you send me an example to reproduce this. Working as it should in my examples

[2019-01-31 15:31] denizs commented on #134
Yeah for sure. The code below does it for me. `init_logging` simply configures env logger to see what's going on in rumqtt. I'm building rumqtt from source after resetting to `v.0.30.1` at hash `c5bcd9f`.
I'm running `mosquitto` locally and see an immediate reconnection after the `pause` call, even though I'm blocking on my thread before calling `resume` again.

[code]

[2019-01-31 15:31] tekjar commented on #134
Oh yeah. It's connecting immediately. I'll fix this. But if it is gcloud, there is inbuilt support. You just need to provide key to encrypt the generated jwt. rumqtt takes care of generating jwt periodically.

[2019-01-31 15:35] tekjar commented on #134
[code]

Why don't you do this?

[2019-01-31 15:35] denizs commented on #134
In case you're busy right now, I'd be happy to open a PR, if you share your approach! I've been hitting my head against the circular dependency for the past 6 hours 😄

[2019-01-31 15:38] denizs commented on #134
To be honest, I thought it would be nice to contribute to this project, as I' ve been using it quite a bit and thought that a `reconnect_with_opts` method would generally be a nice thing for other users. Another reason was that I simply did not think that refreshing the JWT would be taken care of (awesome of you to think of this).

[2019-01-31 15:50] tekjar commented on #134
Awesome :) . Please do

[2019-02-01 00:14] denizs commented on #134
I just finished a long running test and it seems like the token does not get refreshed. Last error message was also the last publish message and it says "token expired". I think it's due to the fact that the username and password fields are set in the mqtt state, which is not affected by the reconnect loop (correct me if I'm wrong).

[2019-02-01 04:21] tekjar commented on #134
Looks like this is functionally [implemented] but I didn't test.

[implemented]: https://github.com/AtherEnergy/rumqtt/blob/master/src/client/mod.rs#L43

[2019-02-01 08:56] denizs commented on #134
When the jwt expires and you try to publish, `mqtt_io` returns a `NetworkError::NetworkStreamClosed` error, which is returned with `Err(false)`. After, the client cannot recover again.
[code]

[2019-02-01 09:04] denizs commented on #134
That was simply because my reconnection options were set to never. Never mind!

[2019-02-01 14:00] denizs commented on #130
Implemented in #135

[2019-02-02 09:15] denizs commented on #134
I opened a PR concerning graceful shutdown, as I noticed that on reconnect, the client would simply close the connection. That said, I'm still trying to wrap my head around a solution for the automatic reconnect after `client.pause` but it seems like it would encompass an entire rewrite of `mqtt_eventloop` 😂

In case to achieve this, we need to skip the `mqtt_connect_timeout` and go right to `mqtt

[2019-02-05 18:14] bbigras commented on #85
I'm using `set_reconnect_opts(ReconnectOptions::Always(10))` and `set_clean_session(false)`.

When I kill the broker (mosquitto), it reconnects and I see that the keepalives are working but I don't receive data anymore.

I'm using 3ecd3fecf3f9284d9d8a93274d6ad61066e91a43

[code]

[2019-02-05 18:18] tekjar commented on #85
I'm assuming you are restarting the broker. Unless broker writes session subscription to disk and reuses it in the next restart, you won't see data. cleansession is more in terms of n/w disconnection, not broker crashes

[2019-02-05 18:20] bbigras commented on #85
You mean for the retain stuff right?

I mean that after I restart the broker, I publish again but I don't receive it on the subscribed side.

[2019-02-05 18:21] tekjar commented on #85
Unless you don't resubscribe again after broker restart, it won't work

[2019-02-05 18:25] bbigras commented on #85
Oh. I totally misread your last comment. Sorry. and thanks!

I guess it's a bad idea for me to use `clean_session=false` then.

[2019-02-05 18:36] bbigras commented on #85
Is there a way to ensure being resubscribed after a broker crash? I think maybe `ReconnectOptions::never` and opening a new connection in a loop.

[2019-02-05 18:39] tekjar commented on #85
This isn't usually a problem with gcloud/aws/azure SaaS brokers.

I'm not sure if rumqtt is sending a `Disconnect`/`Reconnect` events on notification channel. Idea is to leverage those.

[2019-02-08 04:18] manifest opened #137 "Allow to dissable default features"
In our case we don't need any http-related features rumqtt, but they can't be disabled at the moment.

[code]

[code]

[2019-02-08 06:59] tekjar commented on #137
Hi. I still need to sanitize feature gates. This isn't a priority at the moment though

[2019-02-08 06:59] tekjar commented on #125
On crates now

[2019-02-08 06:59] #125 closed

[2019-02-08 14:42] denizs commented on #91
Closed in 0.30.1

[2019-02-08 14:42] #91 closed

[2019-02-20 12:39] flxo opened #139 "Silent drop of incoming notifications if `notification_rx` is full"
Upon higher load conditions incoming notifications are silently dropped (unless logging is configured).
The `try_send` in `handle_notification` will return a `full`.

https://github.com/AtherEnergy/rumqtt/blob/7a07a00b779d172b14639161b0d99df7b284335f/src/client/connection.rs#L491-L499

The consumer has no possibility to detect or handle this. I recently did some load testing and stumbled across th

[2019-02-20 17:42] tekjar commented on #139
Yeah this is a pain point. I'm thinking on how to fix this but every method I come up with has some disadvantage

This existing design idea is that your receiver should always be faster than your sender and it's user's responsibility to make sure that this happens. Having an error helps a lot but I'm not sure of the design yet. Any inputs will help :).

We could block the channel's sender asynchro

[2019-02-20 18:39] stanmueller commented on #139
The correct way to fix the problem of lost messages is to activate the hand check between the broker and the client. (Subscription with Qos1 or Qos2).

When subscribing with Qos1 or Qos2, the broker sends only a limited number of messages to the client.
See max_inflight_messages setting [https://mosquitto.org/man/mosquitto-conf-5.html]
Further messages are not sent until the client has acknowledge

[2019-02-20 19:20] stanmueller commented on #101
I have a suggestion how to fix the "auto acks" problem.
I suggest to extent the enum Notification:: Publish(Publish) with information needed for confirming a received message. => enum Notification:: Publish(Publish,**AckInfo**) and not, as now, confirming incoming message immediately.
After the Notification:: Publish(Publish,**AckInfo**) was processed in the user code, Rust calls drop() method for

[2019-02-20 19:50] flxo commented on #139
If I remember correctly the 'in flight' feature is only for publishers. The broker doesn't know about a 'in flight' setting of a subscriber. Otherwise the `Connect` or `Subscribe` packet would need to have a field for telling the broker about. So a subscribed client has to surrender to whatever the broker does.

@tekjar What's wrong about applying backpressure on the broker connection (in case of

[2019-02-25 08:37] tekjar commented on #101
@stanmueller Yeah that sounds plausible. But I should say that disabling auto-ack isn't a priority for me now. Will come back to this after next release. But you are welcome to give it a shot now :). I would be interested in how it looks

[2019-02-25 08:43] tekjar commented on #139
Thought about this. It seems correct to push the backpressure to the broker instead of failing in rumqtt. I think broker drops new publishes to this client if this is the case (need to verify the spec).

We could use tokio/futures channel to context switch the event loop when the notification queue is full. But we'll lose the flexibility of crossbeam `select!`.

[2019-02-25 08:45] tekjar commented on #130
Thanks @denizs. Appreciate your help. Keep contributing

[2019-02-25 08:45] #130 closed

[2019-02-25 08:46] tekjar commented on #80
We can use docs.rs now :)

[2019-02-25 08:46] #80 closed

[2019-04-01 10:49] cmnstmntmn opened #146 "How to use with actix"
does anyone have an example of running both actix and rumqtt?

[2019-04-04 12:23] flxo commented on #146
No, but I used both.

In theory this should be a `Actor` implementation with a `rumqtt::MqttClient` that implements `Handler<(String, QoS, Bytes or Vec<u8>)>` for publishes.

The notifications need to be received in a dedicated thread:
`crossbeam::Receiver` doesn't impl `Stream`, so you cannot implement `StreamHandler<..>` for you MQTT client actor.  Fire up a threads the iterates over the notific

[2019-04-29 13:20] bestouff opened #147 "Clearer error on connection refused"
When the connection to the broker fails, rumqtt logs:
[code]
In this case, I would have liked to see "not authorised" or something like that in the logs. Maybe it's the signification of the `5` I see, but would it be possible to make it clearer ?

[2019-05-07 20:57] mojzu commented on #146
I've been working on a proof of concept that uses actix/rumqtt. The actor implementation is below, as the TODO notes show, it's pretty rough, no real error handling/graceful exit yet. But provided the mailbox/notification channel sizes are large enough it seems to be able to handle the deluge of messages from a public MQTT server.

[code]

[2019-05-17 14:52] bestouff opened #149 "Hitting unimplemented!()"
I'm hitting `unimplemented!()` in this function, in `src/client/mqttstate.rs` (line 71):

[code]

... right when unsubscribing/resubscribing a topic.

[2019-05-21 12:03] opensourcegeek opened #150 "set_should_verify_ca equivalent in new api"
There used to be set_should_verify_ca method on MqttOptions type, along with other methods that are all gone, which is fine but I'm not sure what is the equivalent of set_should_verify_ca method in new version. I can find most other methods have an equivalent but not this one.

There were self signed certs used for tests and lower environments in my case and I'm having to upgrade to newer version

[2019-05-21 21:08] opensourcegeek commented on #85
Just wanted to check, is this behavior only applicable for subscribe/resubscribe? I've noticed that in poor connections publish doesn't work until the process is restarted but it could be anything in our network. Since this issue is so close to what I'm seeing just want to make sure that it's not related to publish. I only publish data from clients at the moment.

[2019-05-22 08:02] tekjar commented on #150
Rustls is the default now and I don't think it supports disabling ca verification.

[2019-05-22 08:04] tekjar commented on #149
As you've noted, unsubscribe isn't implemented yet. I'll take this up in June

[2019-05-22 08:18] tekjar commented on #85
@opensourcegeek Yeah. Just applicable to resubscriptions. Can you open a new issue and provide more details on the problem. I might not be able to work immediately but I'll be spending a lot more time on this crate from June

[2019-05-22 09:04] TotalKrill commented on #85
I will base my opinion on the assumption that  MQTT systems are long running message brokers/notifications systems, thus from a user perspective, when subscribed to a topic, I will be getting messages on that topic until such time I manually unsubscribe from them.

Being able to react on network disconnect manually and then resubscribing seems like a workaround. Personally since the default for cl

[2019-05-22 09:12] TotalKrill commented on #150
@tekjar Seems you are correct, however this would be nice for development.

https://docs.rs/rustls/0.15.2/rustls/#rustls-takes-care-of-server-certificate-verification

[2019-05-22 09:24] bestouff commented on #149
That's OK, let this issue live as a tracker for this feature.

[2019-05-22 10:40] opensourcegeek commented on #150
@tekjar @TotalKrill - I haven't looked into rustls api in great detail, but possibly this is something that's not exposed in ring? I'll have a look to see what are the alternatives. This is a super handy feature for local dev/CI/lower environments which probably is useful for other servers/clients as well not just for MQTT broker/client.

[2019-05-22 11:36] opensourcegeek commented on #85
@tekjar Thanks for getting back - I don't think it's a problem with this library or at least I haven't got enough evidence to say this library is the issue. In my case I don't think broker restarted, instead the connectivity from client to server is pretty bad and once connectivity is re-established on network level the library doesn't seem to publish data. However there are various other parts to

[2019-05-23 14:55] TotalKrill opened #151 "Connection issues when dns resolve fails are not detected"
Trying to connect to an invalid web-address such as braker.hivemq.com are never resolved,

    #[macro_use] extern crate log;
    use rumqtt::*;
    use rumqtt::mqttoptions::*;

    fn main() {
        simple_logger::init_with_level( log::Level::Info )
            .expect("Could not initiate logger");

        let mqtt_options = MqttOptions::new( "Testclient".to_string(), "braker.hivemq.com".to_st

[2019-05-23 15:10] TotalKrill commented on #151
If timeout is set to 1 an error is returned, so one can react, however the eventloop never exits.

[2019-05-27 13:04] GopherJ opened #154 "example of authentification (username, password)"

[2019-05-27 13:09] #154 closed

[2019-05-27 20:49] opensourcegeek opened #155 "How to get the topic name in new API"
I'm looking to get the topic name from notification and I'm not sure how to get it. In previous API, I used to be able to pass a MqttCallback which takes in a closure that gets called for each message. That message type had topic name and now it seems like I just get the cross beam channel as receiver, I'm not sure how to get the topic name from the notification. Any idea what API method I should

[2019-05-28 08:04] bestouff commented on #147
I see this now:
[code]
... which is fine with me. Is it fixed in all cases ?

[2019-05-28 12:11] opensourcegeek opened #156 "TrySend(Disconnected) in publish after a reconnection"
I'm using older version of this library (0.10.0) to publish some messages, at times I hit an issue with connectivity and the connection is re-established at network level. I believe client reconnects to broken after that however when client is trying to publish message it logs message like below `write(1, "TrySend(\"Disconnected(..)\")\n", 28) = 28` and the message never reaches broker. I cannot e

[2019-06-13 18:58] bbigras opened #157 "disconnect if keepalive is 10"
Maybe related to https://github.com/AtherEnergy/rumqtt/issues/76.

This code often disconnects after 15 secs but not every time.

rumqtt 3b5571a40275be65188a678c39d70b75e67a77d7
rustc 1.36.0-nightly (7c71bc320 2019-04-30)

[code]

[code]

[code]

[2019-06-18 16:57] TheBestJohn opened #158 "Unclear Error Message: Notification send failed. Error = "Full(..)""
Looks like [this function](https://github.com/AtherEnergy/rumqtt/blob/0a95a9ac1a32ce986759e819747cfeb67efe1516/src/client/connection.rs#L493) throws an error if the max_queue is met however it's more of a status message than an error isn't it? The message is still queued for dispatch, it's just waiting on the message queue to not be full.

[2019-06-19 11:39] TotalKrill commented on #151
Might I ask you to push this change to crates.io? would be very appreciated

[2019-06-20 05:34] tekjar commented on #158
Unfortunately no. If your notification receiver isn't keeping up with the incoming messages, you'll loose messages

[2019-06-20 05:35] tekjar commented on #157
Thanks for the report. There is a major refactor happening now. I'll verify this as soon as I'm done with it

[2019-06-20 05:38] tekjar commented on #156
Unfortunately, I don't have the bandwidth to debug older versions. Please use the  latest version if possible and feel free to reopen this

[2019-06-20 05:38] #156 closed

[2019-06-20 05:43] tekjar commented on #151
Hi. This crate is used in production and my confidence levels are little low now as I've merged a bunch of commits without unit tests and CI. I'm adding these in `develop` branch and there are already a bunch of changes. I'll push to crates as soon as I'm done with it

[2019-06-20 07:31] opensourcegeek commented on #155
Does anyone know how to get the topic name?

[2019-06-20 11:25] tekjar commented on #155
Topic name on acks or topic name of incoming publishes?

[2019-06-20 12:45] bestouff commented on #157
FWIW I'm using 60s with VerneMQ as a broker, and I have frequent disconnections because rumqtt "forgets" to ping sometimes (I often see 120s between pings).

[2019-06-20 12:59] bestouff commented on #157
Would it be possible to e.g. announce 60s and pinging each 30s ?

[2019-06-20 14:48] opensourcegeek commented on #155
It's for incoming publishes.

[2019-06-21 05:28] tekjar commented on #155
You receive a [notification](https://docs.rs/rumqtt/0.30.1/rumqtt/client/enum.Notification.html) type and `Publish` has `topic_name` variable

[code]

[2019-06-21 06:31] opensourcegeek commented on #155
Thanks @tekjar, I didn't see that method in docs. I'll go through source and see where that property is getting set.

[2019-06-21 11:48] tekjar commented on #158
related #139

[2019-06-21 11:48] #158 closed

[2019-06-21 11:51] tekjar commented on #155
Ok. Please close this once you got what you need

[2019-06-21 11:59] tekjar commented on #147
I thinks this will be an improvement but we can easily check the mqtt return code spec for now

[2019-06-21 12:03] tekjar commented on #82
@vincentdephily Is this still relevant to you? Need some to test the new notifications along with state changes.

[2019-06-21 12:07] tekjar commented on #134
This will be fixed in 0.31. I know it's super late but would you like to take a stab at this when I'm done with 0.31? ( in a week)

[2019-06-21 12:10] TheBestJohn commented on #158
Ah I see, I was seeing "try send" as try to send to the broker.

[2019-06-27 07:49] tekjar opened #161 "Shutdown should return in memory data"

[2019-06-27 10:06] tekjar commented on #134
Hi. This is implemented in `develop` branch. Can you check if this is working as expected?

[2019-06-27 10:08] tekjar commented on #157
@bestouff @bbigras Can you verify if `develop` branch solved this issue?

[2019-06-27 10:18] tekjar commented on #139
Hi @flxo. `develop` branch now disconnects the client if the notification receiver doens't keep up with incoming notifications. Do you to check if this solves your issue? We can also try exploring `poll_fn` which reads from network stream only when crossbeam channel has space but I'm not sure about the underlying polling behavior (e.g. crossbeam rx can't wake up network polling).

The current meth

[2019-06-27 10:20] tekjar commented on #82
`develop` branch now sends state change events after the first connection

[2019-06-28 13:35] bbigras commented on #157
I still have the problem. It still doesn't happen every time, only sometime.

branch=develop 8e78893ecb6711d66ae20c58f207357c3d08f43f
rustc 1.36.0-nightly (7c71bc320 2019-04-30)

[code]

[code]

[2019-07-01 13:36] tekjar opened #162 "Pings should happen when there are only incoming QoS 0 publishes"
Ping timer is now solely based on incoming network stream timeout. When there is a constant stream of incoming qos0 publishes, the ping will never fire even though there aren't any outgoing messages

Option 1: Starting a new concurrent timer.

This has its own set of timing issues if the timer isn't reset based on incoming and outgoing packets.

Option 2: Also start pings based on outgoing request

[2019-07-01 14:07] vincentdephily commented on #82
Sorry, I moved on to using `mqtt-rs` which is a bare codec crate, and handle the state and io myself. I think full crates like `rumqtt` make a lot of sense, but I needed something unopinionated for the time being. Looking back, I'm not quite sure why I went to `mqtt-rs` instead of `mqtt311`, but that's the direction I took for now.

[2019-07-01 15:10] bestouff commented on #82
FWIW: been there done that, and now I'm back to rumqtt but with auto-reconnect off and I'm handling reconnections manually.

[2019-07-01 16:25] tekjar commented on #157
Thanks for the report. This helped uncover a bug. I couldn't reproduce this with your example but some late publishes caused similar issue. I think the root problem is fixed and unit tests are in place. Want to give it a try? :)

[2019-07-01 16:45] tekjar commented on #82
@vincentdephily @bestouff  If the use case is simple (like sending a publish and synchronously wait for the ack) it's simpler to do it with codec rather than depending on unknown source code like rumqtt.

Unfortunately this isn't the case for us. I've tried using simple mqtt packet parsers but there are too many cases to handle to create a robust and fast (asynchronous) mqtt layer on top of it. Id

[2019-07-02 12:45] bbigras commented on #157
I don't seem able to reproduce the problem with branch=develop 5336f2d1126e10c807fe22263589f6e79ae95e82 :+1:

[2019-07-02 13:25] tekjar commented on #157
Cool. I'll go ahead and close this. Feel free to reopen if this reoccurs

[2019-07-02 13:25] #157 closed

[2019-07-02 13:26] tekjar commented on #162
Combining incoming timeout with reply timeout fixes this #163

[2019-07-02 13:26] #162 closed

[2019-07-02 13:26] #155 closed

[2019-07-03 07:20] TotalKrill commented on #151
Hey, might be the wrong topic, but since I am watching this repo, I got that you merged the develop branch.

What is missing to bump the version number, I might be able to help

[2019-07-03 09:56] tekjar commented on #151
Can you verify if this problem is solved? I've already bumped the version. I'll push it crates day after tomorrow

[2019-07-04 13:29] TotalKrill commented on #151
Ran my tests again, seems to be fine. But to be sure maybe there should be some kind of integration testing. Could also be good for future confidence levels of the system

[2019-07-04 13:51] tekjar commented on #151
There are units for `connection` eventloop as well now. I think there is already a test for this

[2019-07-04 13:51] #151 closed

[2019-07-06 05:39] tekjar commented on #82
I'm going to assume this works now. Feel free to reopen if it doesn't

[2019-07-06 05:39] #82 closed

[2019-07-07 12:16] bwolf commented on #161
Yes please, I would like to safe this data to a file before exiting my application in order to avoid losing data.

[2019-07-31 10:43] Kxtreme opened #165 "invalid CA error catch with SSL"
when connecting to an SSL broker and  set_ca(*/invalid cert*/), I can't catch the error
example:
[code]
output:
[code]
I intended to capture this error so that I can inform the error cause.

[2019-08-01 06:43] tekjar commented on #165
This bug is fixed in `shutdown` branch. I'll bring the fix to master before merging the branch as it might take some time.

[2019-08-17 17:37] glennpierce opened #166 "ERROR rumqtt::client::connection > Notification send failed. Error = "Full(..)""
I have some simple code that subscribes to two mqtt messages which arrive around every couple of seconds and every 8 seconds publishes. However, every couple of days  or so I start getting the error

ERROR rumqtt::client::connection > Notification send failed. Error = "Full(..)"

Does this come from the client or the mqtt server (mosquito) ?
How can I handle this error ?

I am just using the defau

[2019-08-28 08:10] bestouff commented on #157
Is there an official release where this bug is fixed ?

[2019-08-28 08:49] TotalKrill opened #167 "More frequent releases"
This software is currently the best mqtt library for rust in my opinion. That being said I would like if we could approach a v1.0.0 soon so that instead of a major refactor when a bug is found there could be just pure bugfix releases happening on v1.0.x branch and v2.0.0 could be the branch where new development is happening.

I am bringing this up because I have a local version that is now a bit

[2019-08-28 16:53] tekjar commented on #167
@TotalKrill Thanks for bringing these up. I agree with all your points. Infrequent releases to crates is due to time crunch here at Ather. You might've noticed that there aren't many people working on this crate.

Yeah this is a mess. I'll follow git flow or something similar starting next release.

I'm hopeful that all of this will be sorted out starting mid October as I've decided to work full t

[2019-08-28 17:30] TotalKrill commented on #167
Yeah I totally understand the time issue, I am experiencing this as well. I cant wait for the next release of this, even though it might mean a lot of rewrite.

I do not know if I can contribute very much though, but I am interested, I could maybe help review and test patches when time allows.

[2019-08-29 04:41] tekjar commented on #166
I'll verify and fix this today. Thanks for the report

[2019-08-29 22:08] leoniloris opened #168 "Throttle can not be smaller than 1."
- Some brokers (such as google clout iot) has a limitation in some of its topics in which publishes should have a maximum frequency of 1 per second.

- That said, It would be good to be able to set a `throttle_period` instead of a `throttle_rate`, because this rate can not be a floating point number, and the rate of publishing gets really close to the limit some brokers can handle (disconnecting o

[2019-08-30 09:23] #168 closed

[2019-08-30 09:24] tekjar commented on #168
Thanks :)

[2019-09-03 06:32] pbrenna opened #170 "Long delay when connecting to mosquitto broker since v1.6.4"
The current master (and since at least f1d9885d997) can't connect (MqttClient::start) to the mosquitto broker since 1.6.4; 1.6.3 works fine.

This might be an issue with mosquitto or with this library.
For reference, this is the changelog: https://mosquitto.org/ChangeLog.txt

EDIT: both with master and with f1d9885d997, it connects after a long delay (~30s).

Mosquitto's log against rumqtt master

[2019-09-03 14:06] leoniloris opened #171 "Is it needed the mutable reference in publish method?"
Is it needed the mutable reference in publish method? or Am I missing something?

(Here)[https://github.com/AtherEnergy/rumqtt/blob/master/src/client/mod.rs#L105], one can see that the publish method requires a mutable reference of self, but I don't really see the reason why and it does not seems to be really correct to mutate it in the publish.

Why can't it be cloned?

[2019-09-04 13:48] TheBestJohn commented on #167
I'll do what I can to help. I'm slowly starting to understand this codebase and beginning to realize the challenges it faces.

[2019-09-05 08:17] michaelmarconi commented on #85
I'm struggling with the issue of resubscription on network disconnects.  I've read through this issue and [issue 143](https://github.com/AtherEnergy/rumqtt/pull/143) and I'm none the wiser!

In my case, after an initial successful connection, I see this message:
[code]
And that appears to drop all of my subscriptions, as I never hear from the MQTT broker again (Google IOT Core in my case).  Note t

[2019-09-05 08:25] TotalKrill commented on #85
Which version are you using?

[2019-09-05 08:34] michaelmarconi commented on #85
@TotalKrill I'm using `0.30.1`, which is what `cargo search` turned up.

[2019-09-05 11:25] tekjar commented on #85
@michaelmarconi Automatic resubscription isn't implemented yet. But I'm not sure if that's the problem you are facing. Are you connecting with `clean_session = false` so that broker remembers the client after disconnection?

[2019-09-05 12:24] michaelmarconi commented on #85
Hi @tekjar, I believe I'm setting `clean_session` to `false`:

[code]

Here's a recent set of logs:

[code]

I'm cutting the network connection to my development machine (see the error at `2019-09-05T12:17:08Z`) and then plugging it in again.  The client reconnects to the Google IOT Core MQTT broker but the state doesn't appear to be restored, as I never receive any further notifications from the

[2019-09-05 13:50] michaelmarconi opened #173 "How to shut down a client gracefully?"
I'd like to gracefully shut down the MQTT client.  I see [an example of calling `mqtt_client.shutdown()`](https://github.com/AtherEnergy/rumqtt/blob/62b8eb60bd9b387e26422f504d94aa71783aab62/examples/shutdown.rs), however this method doesn't seem to exist on version `0.30.1` of this library?

[2019-09-05 20:19] michaelmarconi commented on #85
@tekjar, I just noticed your comment that states that the [disconnect handling is implemented on `master`](https://github.com/AtherEnergy/rumqtt/pull/143#issuecomment-512771575).

I've just tried pulling the master branch into my cargo dependencies but it won't compile:

[code]

[2019-09-06 08:40] tekjar commented on #173
Shutdown that you see isn't graceful shutdown. Graceful shutdown isn't possible yet. I'm waiting for stable async/await to start the work.

[2019-09-06 09:23] tekjar commented on #85
Oh wow. I didn't know of this

Remove your target and Cargo.lock and rebuild

[2019-09-06 10:12] michaelmarconi commented on #173
OK.  Is there any way currently to cleanly shutdown the connection to the broker then?
I'm simply dropping the client, which results in an error message at the broker.

[2019-09-06 15:13] michaelmarconi commented on #173
I've moved to the `master` branch and calling `mqtt_client.shutdown()` has the desired effect of sending a clean shutdown signal to the broker, thanks!

[2019-09-06 15:13] #173 closed

[2019-09-06 15:14] michaelmarconi commented on #85
Thanks @tekjar, that did the trick.  I'm receiving the `Reconnection` notification now and resubscribing to topics when that happens.

[2019-09-07 12:01] pbrenna commented on #170
The mosquitto configuration that causes this behavior is:
[code]

[2019-09-07 12:01] #170 closed

[2019-09-13 12:30] bestouff commented on #157
Ping?

[2019-09-13 15:22] tekjar commented on #157
Ah sorry. Not release yet. I'll push to crates on monday

[2019-09-13 18:35] bestouff commented on #157
Great thanks

[2019-09-17 12:50] bestouff opened #174 "0.31 fails to compile"
[code]

[2019-09-17 13:55] TheBestJohn commented on #174
What other crates are you using in this? This is due to an old rustls version being used. If you're just using this crate, do a cargo clean.

[2019-09-17 14:31] bestouff commented on #174
I'm using it in a project with many other crates; maybe the problem is that the rustls dependency isn't correctly specified.

[2019-09-17 15:06] tekjar commented on #174
@bestouff Can you try removing Cargo.lock and target dir and then recompile?

[2019-09-17 18:11] TheBestJohn commented on #174
Yeah anything that depends on an older version of ring will fail with this. rustls used to use `String` for alpn_protocols [docs](https://docs.rs/rustls/0.14.0/rustls/struct.ClientConfig.html#structfield.alpn_protocols) and in version 0.15.0 onwards used `Vec<u8>` [docs](https://docs.rs/rustls/0.15.0/rustls/struct.ClientConfig.html#structfield.alpn_protocols)

[2019-09-18 08:03] TotalKrill commented on #167
@tekjar After some thought, I can probably help some when time allows.

My main focus would be to get a new release up on crates.io and branch that away to allow for bugfixes on that branch, just getting it a bit more usable in most cases.

Do you have any idea on how to start accepting new contributors?

[2019-09-19 07:39] bestouff commented on #174
I tried recompiling without `Cargo.lock` and effectively `rustls` went from 0.14 to 0.15, and my project compiled. `tokio-rustls` also got a bump from 0.8 to 0.9, which is where `rustls` is pulled from.
So the problem lies in `Cargo.toml`'s deps. I'm sending a patch.

[2019-09-19 07:42] bestouff commented on #174
See MR #175

[2019-09-19 08:53] tekjar commented on #174
Did you try removing both target and Cargo.lock?

I'm ok with the pull request but I think there are people using rumqtt with other dependencies which require older version of ring. Wouldn't pinning tokio-rustls pin compatible ring as well causing conflicts with other dependencies depending on older ring?

[2019-09-19 11:46] bestouff commented on #174
Yes I did.

I don't know. But now it may not compile, so there's obviously a bug.

[2019-09-19 11:48] tekjar commented on #174
@TheBestJohn Are you able to compile 0.31?

[2019-09-20 13:57] bestouff commented on #174
I think only people with a dependency on `rustls` 0.14 will see a problem when creating a new project.

[2019-09-20 14:18] TheBestJohn commented on #174
I can compile it by itself just fine but the alpn stuff gets in the way if I'm using it with Rocket.

[2019-09-23 14:21] PetrGlad commented on #174
Also Rumqtt version 0.31 has no tag - it is hard to see which sources were actually used.

[2019-09-23 15:46] PetrGlad commented on #174
I cannot build project using rumqtt 0.31.0, with same error. I, however can `cargo build` this project separately from master.
Note that published crate on crates.io uses tokio-rustls 0.8.1 (which in turn requires rustls 0.14)
while project from git /master here requires tokio-rustls 0.9.3 (which in turn requires rustls 0.15.1).
Actual versions are from `Cargo.lock`
So, yes it would definitely hel

[2019-09-23 16:06] PetrGlad commented on #174
The fix would be to explicitly require tokio-rustls version  0.9.1 or later.

[2019-09-24 20:26] TheBestJohn commented on #174
I don't think we can get away from historical rustls and ring issues here. It's a pain of moving forward. I also don't think it's incumbent on a libraries developer to support other libraries using old sources.

[2019-10-02 14:31] david-mcgillicuddy-moixa opened #176 "Panic with invalid key file"
Hi, when given an invalid client key file, rumqtt panics with `'index out of bounds: the len is 0 but the index is 0'`.

The stacktrace (included as an attachment) points to this line: https://github.com/AtherEnergy/rumqtt/blob/master/src/client/network.rs#L124 as the culprit.

The error happens during the code:
[code]
and if the dummy key bytes are replaced with the real key bytes there is no iss

[2019-10-03 10:09] tekjar commented on #176
Please do :). I've been meaning to do an audit on all the unwraps but that never happened

[2019-10-03 10:10] david-mcgillicuddy-moixa commented on #176
I can't promise an audit on all the unwraps but I will certainly do the ones that are causing issue for me in that function

[2019-10-03 19:05] TheBestJohn commented on #176
unwraps look few. The only one aside from the cert/ca/key is in `publish.pkid` in mqttstate as well as ` Runtime::new().unwrap();` and `connection_tx.try_send(Ok(())).unwrap();` in `client/connection`. The rest are in examples

[2019-10-10 13:56] feymartynov commented on #174
Had this error on macOS after system upgrade from Mojave to Catalina. Removing `Cargo.lock` and `target` dir of the project solved the problem.

[2019-10-10 14:25] TotalKrill commented on #174
Which is just lucky and depending on other deps in the system, this project is now dependent on tokio-rustls ^9 and therefore the cargo.toml is essentially wrong for now

[2019-10-14 07:30] tekjar opened #179 "Opensource and ownership transfer"
Hi All. I see that there are a bunch of open issues and pull requests. I'm not working at Ather anymore and it might take some time for these to be addressed.  Ather is considering transfer of ownership but it'll take time as internal opensource policies are still being framed.

Meanwhile, I've started my work on the broker and the ecosystem. Head [here](https://teams.microsoft.com/join/tlsjuj2lia

[2019-10-14 13:51] tekjar commented on #179
@TotalKrill Can you let me know your email id? Or can you sign in to the teams link?

[2019-10-15 07:21] TotalKrill commented on #179
The link is no longer valid, I could send you my email in a PM somewhere otherwise :)

[2019-10-19 11:24] damody commented on #166
I get same error when receive 2000 message in 1 sec, change notification_channel_capacity is useless.

[2019-10-19 13:02] damody commented on #166
I change notification_channel_capacity from mqtt_option is useless.
but I change src to 10000. it's work. wtf?
[code]

[2019-10-19 13:14] damody commented on #166
my bad notification_channel_capacity it's work.

[2019-11-06 20:49] jplatte commented on #179
@tekjar How about creating a rumqtt GitHub organization, then transferring ownership to that and inviting people to that organization? crates.io also allows crate ownership to be derived from a GitHub organization's team (every member then has publish permission automatically, see e.g. https://crates.io/crates/tokio).

[2019-11-08 12:53] tekjar commented on #179
@jplatte Sorry for the delay. I'm not sure of the legalities w.r.t names. I've created rumq repo (which includes client, broker and command line utils) and [discord](https://discord.gg/2z9qbfx) server a few days back. But the repo is still private. Would love to add more people but there is a limit of 4 collaborators. Please join the discord group while I figure out how to proceed forward.

[2019-11-19 09:13] GopherJ opened #181 "SSL example doesn't work"
Hello,

The tls example doesn't work for me, I tried the following code:
[code]

I got the following message while executing `RUST_BACKTRACE=1 cargo run --example tls`, is there any workaround or am I doing something wrong?

[code]

[2019-11-21 11:12] GopherJ commented on #181
@tekjar Hello, could you help on this?

[2019-11-22 04:11] tekjar commented on #181
@GopherJ Are you using ip address by any chance?

https://github.com/AtherEnergy/rumqtt/blob/master/src/client/network.rs#L208

Rumqtt doesn't support direct ip addresses on tls. You need to provide a dns

[2019-11-22 08:07] GopherJ commented on #181
Hello, I still get error message:

[code]

Could you help me on this? we would like to use `rumqtt` for all the projects but it seems there are still some problems.

[2019-11-25 15:18] GopherJ commented on #181
@tekjar any ideas? Thanks for your help!

[2019-11-26 15:08] chrisabruce commented on #179
Whats the status of this repo?  Is it now somewhere else?  Is this still maintained?

[2019-11-26 16:41] tekjar commented on #181
Probably your certificate doesn't have correct SAN? It's necessary for rustls

[2019-11-28 08:21] GopherJ commented on #181
Hello @tekjar , yes probably, any idea how to check it? I did some researches but I still don't know how to check it.

[2019-11-28 09:01] tekjar commented on #181
@GopherJ

https://stackoverflow.com/questions/13127352/how-to-check-subject-alternative-names-for-a-ssl-tls-certificate

https://www.geocerts.com/certificate-decoder

Try these

[2019-12-02 16:05] GopherJ commented on #181
Hello @tekjar , sadly that it may be caused by this issue, but I cannot change the root certificate.

In this case, I also would like to just test `rumqtt` works well with tls, but while testing, it seems that I get the same error:

[code]

what I did:
[code]

am I doing something wrong?

[2019-12-03 13:49] GopherJ commented on #181
I wrote a script which generates SAN certificates, but still I get errors...........................:)
[code]

[code]

[2019-12-03 13:57] tekjar commented on #181
Error in your previous message says `Certificate Expired`. Did you check into that? I created these some time back to automate this

https://github.com/AtherEnergy/rumqtt/tree/master/utils/certgenerator

This might probably help. I might not be able to dig deep into the problem as I'm in a time crunch at the moment and I'm not working on this repo anymore.

But I might be able to help in a week as

[2019-12-03 15:52] GopherJ commented on #181
OK I used your script and now I get new error - -:

[code]

[2019-12-03 16:26] GopherJ commented on #181
[code]

trace:
[code]

[2019-12-03 16:28] GopherJ commented on #181
is there a workaround @tekjar , I just would like to make it works...

[2019-12-04 01:24] tekjar commented on #181
@GopherJ I just verified both your code and the example. Both of them work for me

I suspect you are not using correct ca which is used to sign the server certificate. It's `ca-chain.cert.pem` in case you are using `certgenerator` script in `utils`.

[2019-12-04 14:59] GopherJ commented on #181
Hello @tekjar , could you tell me what shall I use?
[code]

I don't think I made a mistake, but if yours can work then maybe I did something different from you

[2019-12-05 13:08] arnstein opened #182 "Having problems using topics with dollar sign"
I am currently trying to make an AWS IoT core client SDK in Rust.
I am able to subscribe and publish to standard topics just by using rumqtt, but when trying to implement the device shadow functionality I am having problems both in subscribing and publishing.

Without going into the details of device shadow, what I have to do is subscribe and publish to topics that are constructed like "$aws/thing

[2019-12-05 13:40] #182 closed

[2019-12-05 15:19] tekjar commented on #181
https://discord.gg/ZQw8Y3

Please join that group. We'll resolve this there

[2019-12-06 12:14] raphaelahrens opened #183 "Which version of MQTT is supported?"
Which version of MQTT is supported?

[2019-12-06 12:22] tekjar commented on #183
3.1.1

[2019-12-10 12:24] bachrc commented on #83
We could close this issue now this is resolved?

[2019-12-10 13:20] alepez commented on #83
Actually, with mqtt311 0.2 (the last one) it hits `unimplemented`. It is an `mqtt311` issue but at the moment if you call `rumqtt::MqttClient::unsubscribe` it panics.

[2019-12-11 09:28] GopherJ commented on #181
hello @tekjar , could you send a new invitation, I cannot join for some strange reasons, I'll try now.

[2019-12-11 09:46] tekjar commented on #181
@GopherJ https://discord.gg/afS2vC

[2019-12-11 12:48] GopherJ commented on #181
thanks @tekjar

[2019-12-12 08:13] rcastill commented on #149
Hi, is this feature planned for implementation any time soon?

[2019-12-12 08:44] tekjar commented on #149
@rcastill Hi. I’m not working on this repo anymore. I’m not sure if there are any plans on features. Follow the progress of a different implementation in the below repo

https://github.com/tekjar/rumq

[2019-12-12 15:09] rcastill commented on #149
Thanks for the info.

I’d recommend to update the README with a disclaimer pointing that out.

I’ll give the new repo a try!

[2019-12-12 16:19] tekjar commented on #149
I’m not working at Ather anymore but somehow I still have admin permissions :) I don’t feel entitled to change readme though

The new repo is still in alpha and the feature might not be there as well. But the probability that I implement what you need is much higher there

[2019-12-18 13:45] #183 closed

[2020-01-16 08:45] andresv commented on #179
I am also very interested in knowing if it is still maintained.

[2020-01-16 08:54] andresv commented on #176
It would be nice if rumqtt could also support `pkcs8` private keys: https://github.com/ctz/rustls/blob/master/rustls/src/pemfile.rs#L69